

  .btn-outline-dark{
    border-radius: 0 !important;
    color:#004a9f !important;
    border-color:#004a9f !important;
  }

  .btn:hover{
    background-color:#004a9f !important;
    border-color:#004a9f !important;
    color: white !important;
  }